<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo left">Da site</a>
        <ul id="nav-mobile" class="right">
            <li>
                <a href="commentaires">Commentaires</a>
            </li>
        </ul>
    </div>
</nav>