<html>

<head>
    <meta charset="utf-8" />
    <title>Maison page</title>
    <% include partials/head_css_import.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>

    <h1>Le site</h1>
    <p>Il va y avoir des données (plein).</p>

    <% include partials/js_import.ejs %>
</body>

</html>