<html>

<head>
    <meta charset="utf-8" />
    <title>Maison page</title>
</head>

<body>
    <% include partials/navbar.ejs %>

    <h1>Vous êtes bien connecté</h1>
    <p>Bravo à tous, vous avez été incroyables.</p>

    <% include partials/js_import.ejs %>
</body>

</html>